<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>

    <appSettings file="specific.config" />

    <!--Log4Net config-->
    <log4net threshold="ALL">
        <root>
            <appender-ref ref="ColoredConsoleAppender"/>
            <appender-ref ref="LogFileAppender"/>
        </root>
        <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
            <threshold value="INFO"/>
            <mapping>
                <level value="INFO"/>
                <foreColor value="White, HighIntensity"/>
            </mapping>
            <mapping>
                <level value="WARN"/>
                <foreColor value="Yellow, HighIntensity"/>
            </mapping>
            <mapping>
                <level value="ERROR"/>
                <foreColor value="Red, HighIntensity"/>
            </mapping>
            <mapping>
                <level value="FATAL"/>
                <foreColor value="Red, HighIntensity"/>
            </mapping>
            <layout type="log4net.Layout.PatternLayout" value="%-5level %logger - %message%newline"/>
        </appender>
        <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
            <threshold value="ALL"/>
            <file value="raymond.log"/>
            <appendToFile value="true"/>
            <layout type="log4net.Layout.PatternLayout" value="%date %-5level %logger - %message%newline"/>
        </appender>
    </log4net>
    <!--end Log4Net config-->

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>

    <!--to be able to pass %2F in uris-->
    <uri>
        <schemeSettings>
            <add name="http" genericUriParserOptions="DontUnescapePathDotsAndSlashes" />
        </schemeSettings>
    </uri>
</configuration>